/src/node_modules
/src/public/hot
/src//public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
Homestead.json
Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/.idea
/.vscode
